<div class="nested-fields question-fields">
	<div class="field">
		<%= f.label :query %>
		<%= f.text_field :query, class: "form-control", id: "query" %>		
	</div>

	<div class="field">
		<%= f.label :category %><br>
		<%= f.radio_button :category, 'subjective', class: "subjective" %> Subjective 
		<%= f.radio_button :category, 'multiple_choice', class: "multiple" %> Multiple Choice 
		<%= f.radio_button :category, 'multiple_answer', class: "multiple" %> Multiple Answers 
	</div>

	<div class="remove-link">
		<%= link_to_remove_association "<i class=\"glyphicon glyphicon-minus\"></i> Remove Question".
																																										html_safe, f %>
	</div>	

	<div>
		<%= f.fields_for :options do |builder| %>
			<%= render partial: 'option_fields', locals: {f: builder} %>
		<% end %>

		<div class="links option-link">
			<%= link_to_add_association "<i class=\"glyphicon glyphicon-plus\"></i> Add Option".
																																				html_safe, f, :options %>
		</div>
	</div>
</div>