<div id="survey_title">
  <strong><%= @survey.title %></strong>
</div>

<% if !@feedbacks.any? %>
	<br><br><strong>No feedback has yet been recorded.</strong>
<% else %>
	<div id="attendee_title">
		<strong>Feedback given by: </strong>
	</div>	
	<% @feedbacks.each do |survey| %>
		<ul>
			<li>
				<div class="survey-answers">
					<strong><%= survey.attendee %> </strong>
					<span id="show_<%= survey.id%>" class="show-answer">Show Answers</span>
					<span id="hide_<%= survey.id%>" class="hide-answer">Hide Answers</span>
				</div>	
				<div class="feedback" id="feedback_<%= survey.id %>">
					<ol>	
						<% survey.questions.each do |question| %>
							<li> <%= question.query %> 
								<ul> <%= get_answers(question.answers.first) %> </ul>
							</li>	
						<% end %>
					</ol>
				</div>
			</li>
			<br>	
		</ul>				
	<% end %>
	<%= will_paginate @feedbacks %>
<% end %>	