<div id="survey_title">
  <strong><%= @survey.title %></strong>
</div>

<ol>
  <% @questions.each do |question| %>
    <div class="survey-body">
      <li> 
        <strong>Type: <%= display_category(question) %></strong><br>
        <strong>Question: <%= question.query %></strong>
        <ul>
        <% question.options.each do |option| %>
          <li><strong><%= option.answer %></strong></li>
        <% end %>
        </ul>
      </li>
    </div>
  <% end %>
</ol>

<p id="survey_manipulation">
  <% if !@survey.is_published %>
    <%= link_to "Publish", published_survey_path(@survey), 
                            data: {confirm: 'Are you sure? You cannot edit afterwards.'}%> | 
    <%= link_to "Edit", edit_survey_path(@survey), data: {confirm: 'Are you sure? 
                                    All the collected feedbacks will be deleted.'} %> |
  <% else %>   
    <%= link_to "Unpublish", unpublished_survey_path(@survey), data: {confirm: 'Are you sure?
                                      You cannot collet feedbacks until you publish it again.'} %> | 
  <% end %>
  <%= link_to "Delete", @survey, data: {confirm: 'Are you sure? All the feedbacks will also be deleted.'}, 
                                                                                      :method => :delete %>
</p>                                                                                        

