<h1 id="survey_header"> Preview </h1>

<div id="survey_title">
  <strong>Title:</strong>
  <%= @survey.title %>
</div>

<ol>
  <% @questions.each do |question| %>
    <div class="survey-body">
      <li> 
        Type: <%= question.category %><br>
        Question: <%= question.query %>
        <ul>
        <% question.options.each do |option| %>
          <li><%= option.answer %></li>
        <% end %>
        </ul>
      </li>
    </div>
  <% end %>
</ol>

<p>
  <% if !@survey.is_published %>
    <%= link_to "Publish", published_survey_path(@survey), data: {confirm: 'Are you sure? You cannot edit afterwards'} %> |
    <%= link_to "Edit", edit_survey_path(@survey) %> |
  <% else %>   
    <%= link_to "Unpublish", unpublished_survey_path(@survey), data: {confirm: 'Are you sure? 
                                      You will loose all the collected feedbacks.'} %> | 
  <% end %>
  <%= link_to "Delete", @survey, data: {confirm: 'Are you sure? All the feebacks will also be deleted'}, 
                                                                                      :method => :delete %>
</p>                                                                                        

