<h1 id="survey_header"> Preview </h1>

<div id="survey_title">
  <strong>Title:</strong>
  <%= @survey.title %>
</div>

<ol>
  <% @questions.each do |question| %>
    <div class="survey-body">
      <li> 
        Type: <%= question.category %><br>
        Question: <%= question.query %>
        <ul>
        <% question.options.each do |option| %>
          <li><%= option.answer %></li>
        <% end %>
        </ul>
      </li>
    </div>
  <% end %>
</ol>

<p>
  <%= link_to "Edit", edit_survey_path(@survey) %> |
  <%= link_to "Delete", @survey, :confirm => 'Are you sure?', :method => :delete %> 
</p>

