<h1 id="answer_header"> Answers </h1>

<%= will_paginate @clone_surveys %>

<% @clone_surveys.each do |survey| %>
	<% survey.feedbacks.each do |feedback| %>
		<div class="feedback">
			<strong>Email: <%= feedback.email %></strong>
			<ol>	
				<% survey.questions.zip(feedback.answers).each do |question, answer| %>
					<li> <%= question.query %> ?
						<ul> <%= get_answers(answer) %> </ul>
					</li>	
				<% end %>
			</ol>
		</div>		
	<% end %>
<% end %>

<%= will_paginate @clone_surveys %>	