<div class="row">
	<div class="col-md-offset-2 col-md-6">
		<h4><b> Add Options </b></h4>

		<div class="error-explanation"></div>
		<% for i in 1..no_of_options %>
			<div id="option_form_<%= i %>" class="option-form"> 
				<%= form_for(:option, url: url_for(controller: "options", action: "create", 
																method: "post"), remote: true) do |f| %>
					
					<%= f.hidden_field(:survey_id, value: survey_id) %>
					<%= f.hidden_field(:question_id, value: question_id) %>
					<%= f.hidden_field(:option_id, value: "option_form_#{i}") %>

					<div class="field">
						<%= f.label :answer %>
					  <%= f.text_field :answer, class: "form-control", id: "answer" %>
					</div>

					<div class="actions">
					  <%= f.submit "Add", class: "btn btn-primary button" %>
					</div>
				<% end %>
				<br>
			</div>	
		<% end %>	
	</div>
</div>