<div class="row">
	<div class="col-md-offset-2 col-md-6">
		<h4><b> Add Question </b></h4>

		<%= form_for(:question, url: url_for(controller: "questions", action: "create", 
														method: "post"), remote: true) do |f| %>
			
			<div class="error-explanation"></div>
			<%= f.hidden_field(:survey_id, value: survey_id) %>

			<div class="field">
			  <%= f.label :query %>
			  <%= f.text_field :query, class: "form-control", id: "query" %>
			</div>
		 
		 	<div class="field">
		 		<%= f.label :category %> <br>
		 		<%= f.radio_button :category, 'Subjective', class: "category" %> Subjective <br> 
		 		<%= f.radio_button :category, 'Multiple Choice', class: "category" %> Multiple Choice <br>
		 		<%= f.radio_button :category, 'Multiple Answers', class: "category" %> Multiple Answers
		 	</div>

		 	<div class="field">
			  <%= f.label :no_of_options %>
			  <em>(You can leave it blank if type is subjective)</em>
			  <%= f.text_field :no_of_options, class: "form-control", id: "no_of_options" %>
			</div>

			<div class="actions">
			  <%= f.submit "Create", class: "btn btn-primary button" %>
			</div>
		<% end %>
	</div>
</div>