<nav class="navbar navbar-fixed-top navbar-inverse bar">
  <div class="container-fluid header-bar">
    <div class="navbar-header">
      <img src="<%= asset_path('logo.png') %>" id="logo"/>
      <%= link_to "FreeSurvey", root_path, id: "app_name" %>
    </div>
    <ul class="nav navbar-nav navbar-right header-link-bar"> 
      <% if user_signed_in? %>
        <li>
          <%= link_to "Home", home_path %>
        </li>
        <li>
          <%= link_to "My Surveys", my_surveys_surveys_path %>  
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Account <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to "Edit Profile" %>  
            </li>
            <li>
              <%= link_to "Change Password", edit_user_registration_path(current_user) %>    
            </li>
            <li class="divider"></li>
            <li>
              <%= link_to "Log out",  destroy_user_session_path, method: "delete" %>
            </li>
          </ul>
        </li>
      <% else %>  
        <li>
          <%= link_to "Home", root_path %>
        </li>
        <li>
          <a href="http://localhost:3000/users/sign_up">
            <span class="glyphicon glyphicon-user"></span> Sign Up 
          </a>
        </li>
        <li>
          <a href="http://localhost:3000/users/sign_in">
            <span class="glyphicon glyphicon-log-in"></span> Login 
          </a>
        </li>
      <% end %>  
    </ul>
  </div>
</nav>